.flex-container {
  display: flex;
  background-color: dodgerblue;
  position: relative;
}

.flex-container > div {
  background-color: rgb(238, 222, 222);
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  /* line-height: 75px; */
}
